* {
  box-sizing: border-box;
}

/*
 ----------------
 carousel
----------------
*/

.carousel-container {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  position: relative;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.carousel-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 5px 20px;
  text-align: right;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.carousel__heading {
  color: #fff;
  margin: 0;
  font-size: 18px;
  margin-right: auto;
}

.carousel__slide {
  min-width: 100%;
  height: 100vh;
  position: relative;
  transition: transform .5s;
}

.carousel__btn {
  padding: 5px;
  border: 0;
  background-color: transparent;
}

.carousel__btn svg {
  width: 24px;
  height: 24px;
  fill: rgba(255,255,255, 1);
}

.carousel__btn[disabled] svg {
  fill: rgba(255,255,255, .5);
}

.carousel__btn--next {
  right: 10px;
}

.carousel__btn--back {
  left: 10px;
}

.carousel__bullets {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  margin: 0;
  padding: 5px 0;
  text-align: center;
  background-color: #000;
}

.bullet {
  list-style: none;
  display: inline-block;
}

.bullet__button {
  border: 0;
  background: none;
  padding: 5px;
}

.bullet__svg {
  width: 10px;
  height: 10px;
  fill: rgba(255,255,255, .5);
}

.bullet--active .bullet__svg {
  fill: rgba(255,255,255, 1);
}

/*
 ----------------
 camera
----------------
*/

.camera {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  transition: transform .8s;
  transform: translateY(100%);
}

.camera--on {
  transform: translateY(0);
}

/*
 ----------------
 mic
----------------
*/

.mic {
  width: 40px;
  height: 40px;
  fill: #fff;
  z-index: 2;
  position: absolute;
  bottom: 50px;
  left: 20px;
  background: #000;
  padding: 10px;
  border-radius: 50%;
  box-sizing: content-box;
  opacity: .7;
}

.mic--on {
  opacity: 1;
  animation: micOn .7s infinite alternate ease-in-out;
}

@keyframes micOn {
  to { fill: #fff; }
  from { fill: red; }
}

.mic-res {
  color: #fff;
  background-color: #000;
  z-index: 2;
  position: absolute;
  bottom: 60px;
  left: 90px;
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
}
